@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --white: #fff;
    --black: black;
    --button: #03848C;
    --gradient: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
    --message: #D1D1D1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter';
}

a {
    text-decoration: none;
}

.head {
    height: 11vh;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.nav_list {
    display: flex;
    gap: 65px;
    margin-top: 35px;
}

.nav_list li {
    list-style: none;
}

.nav_list li a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: var(--black);
}

.hover_a:hover {
    border-bottom: 2px solid black;
}

.nav_list button {
    background: var(--white);
    border: 2px solid var(--black);
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    box-sizing: border-box;
    width: 120px;
    height: 36px;
    margin-top: -5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-left: 60px;
}

.head_end {
    z-index: 5;
    height: 89vh;
    background: url(./img/illustration-neuron-network-blue\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_shadow {
    z-index: 5;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(22, 22, 22, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: drop-shadow(0px 11px 12px rgba(0, 0, 0, 0.2));
}

.head_end_img {
    z-index: 5;
    margin-top: 40px;
    margin-left: 61px;
}

#show_less {
    visibility: hidden;
    margin-top: -140px;
    /* transition: 1s ease; */
}

.head_display {
    display: flex;
    justify-content: space-between;
}

.head_end_letters {
    z-index: 5;
    margin-top: 259px;
    margin-right: 199px;
}

.head_end_letters h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 11rem;
    line-height: 155px;
    color: var(--white);
}

.head_end_letters h1::before {
    content: '';
    position: absolute;
    margin-left: -90px;
    width: 412px;
    height: 2px;
    background-color: var(--black);
}

.head_end_letters h1::after {
    content: '';
    position: absolute;
    margin-left: -328px;
    width: 412px;
    height: 2px;
    background-color: var(--black);
    margin-top: 160px;
}

.head_end_letters p {
    margin-top: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
}

.head_end_buttons {
    display: flex;
    gap: 50px;
    margin-top: 64px;
}

.head_the_end {
    display: block;
    z-index: 999999999999;
    text-align: center;
    /* margin-top: -40px; */
}

.head_container {
    max-width: 900px;
    display: flex;
    gap: 225px;
    margin: 50px auto;
    text-align: center;
}

.head_card p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 6px;
}

.dash {
    width: 100%;
    height: 2px;
    border: 1px solid #000000;
    filter: blur(2px);
    background-color: var(--black);
}

.slider_card {
    background-color: red;
    width: 361px !important;
    height: 374px !important;
}

.slider_container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
}

.slider_card img {
    width: 100%;
    height: 100%;
}

.container {
    overflow: hidden;
    margin-top: 20px;
}

section h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    margin-top: 80px;
}

.about {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.wheelchair {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 45px;
    align-items: center;
    margin-bottom: 60px;
}

.wheelchair_img {
    background: linear-gradient(180deg, #808080 0%, rgba(251, 251, 251, 0) 100%);
    filter: drop-shadow(11px 9px 4px rgba(0, 0, 0, 0.25));
}

.wheelchair_text p {
    font-size: 29px;
    font-family: "Times New Roman";
    text-align: justify;
}

.heading {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 45px;
    align-items: center;
}

.heading_img {
    background: linear-gradient(180deg, #808080 0%, rgba(251, 251, 251, 0) 100%);
    filter: drop-shadow(11px 9px 4px rgba(0, 0, 0, 0.25));
}

.heading_text p {
    font-size: 29px;
    font-family: "Times New Roman";
    text-align: justify;
}

/* .about button {
    background-color: #03848C;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
    width: 229px;
    height: 60px;
    font-size: 40px;
    color: white;
    border: none;
} */

.product_container {
    margin-top: 40px;
    display: flex;
    gap: 92px;
}

.product_img {
    width: 716px;
    height: 693px;
    background: linear-gradient(180deg, #808080 0%, rgba(251, 251, 251, 0) 100%);
    filter: drop-shadow(11px 9px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.product_img{
    padding-top: 120px;
}

.product {
    display: flex;
    gap: 80px;
}

.first_step_card {
    margin-top: 60px;
}

.first_step_card p {
    margin-top: 10px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.first_step_card h3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.second_step {
    width: 2px;
    height: 600px;
    background-color: var(--black);
    border: 1px solid #000000;
    margin-top: 40px;
}

.third_step_card {
    margin-top: 60px;
}

.third_step_card p {
    margin-top: 10px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.third_step_card h3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.results {
    margin-top: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 51px;
    color: #003A5D;
}

.results_container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 30px auto;
    gap: 30px;
}

.results_card {
    min-width: 300px;
    text-align: center;
}

.results_card h4 {
    margin-top: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #32617D;
}

.results_card p {
    margin-top: 30px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #686868;
}

.contact {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    margin-top: 90px;
}

.contact_container {
    background: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%);
    width: 100%;
    margin-top: 120px;
    height: 700px;
    margin-bottom: -38px;
}

.contact_first_step {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 109px;
    display: flex;
    justify-content: space-between;
}

.b {
    margin-right: 200px;
    margin-top: 30px;
    display: flex;
    gap: 59px;
}

.contact_second_step {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    margin-left: 60px;
    margin-right: 60px;
}

.c a {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
}

.c li {
    font-size: 2.6rem;
    color: var(--white);
}

.d textarea {
    width: 500px;
    height: 300px;
    padding: 10px;
    background: #D1D1D1;
    border-width: 0px 5px 6px 0px;
    border-style: solid;
    border-color: #000000;
    resize: none;
    outline: none;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #797979;
}

footer {
    background-color: var(--black);
    height: 80px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 38px 30px;
}

.footer p {
    margin-top: 30px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.team1 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 37px;
}

.team_container {
    max-width: 1250px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 120px auto;
    gap: 30px;
}

.team_card {
    background: linear-gradient(180deg, #FFFFFF 73.7%, rgba(217, 217, 217, 0) 100%);
    border: 3px solid #000000;
    max-width: 430px;
}

.team_p {
    margin-top: 30px;
}

.team_p h3 {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
}

.team_p p {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 37px;
}

.team_card:nth-child(2) {
    margin-top: -60px;
}

.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 0px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.btn-12 span {
    background: rgb(0, 172, 238);
    background: linear-gradient(180deg, rgba(143, 144, 147, 1) 0%, rgba(189, 190, 194, 1) 1%, rgba(153, 154, 157, 1) 45%, rgba(114, 114, 117, 1) 59%, rgba(0, 0, 0, 1) 88%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    /* box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001; */
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.custome_button a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    width: 200px;
    text-align: center;
}

.custome_button a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.custome_button a:nth-child(1) {
    filter: hue-rotate(270deg);
}

.custome_button a:nth-child(2) {
    filter: hue-rotate(110deg);
}

.custome_button a span {
    position: absolute;
    display: block;
}

.custome_button a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.custome_button a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.custome_button a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}


.custome_button a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.scroll_up {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    display: none;
    right: 30px;
}

.scroll_up i {
    font-size: 2rem;
    color: white;
}